<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>InsipiraHub- Home</title>
    <link rel="stylesheet" href="/css/home.css">

   
</head>
<body>
    <h1>Welcome, <i><span th:text="${name}" style="color: teal;"></span>!</i></h1>
    <p>You are successfully logged in!</p>
    <p>Your email: <span th:text="${email}"></span></p>

    <div class="button-container">
        <a href="/">Home</a>
        <a href="/logout">Logout</a>
    </div>
</body>
</html>
